.place__website {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
    max-width: 456px;
    grid-area: website;
}

@media screen and (max-width: 767px) {
  .place__website {
    padding-top: 32px;
    min-width: calc(100% - 32px);
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
}
