.place__website_url-heading {
    position: absolute;
    bottom: 34px;
    margin: 0;
    font-size: 12px;
    line-height: 1;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #AAA;
}

@media screen and (max-width: 767px) {
  .place__website_url-heading {
    position: static;
  }
}
