.lead__subtitle {
  max-width: calc(100% - 344px);
  padding-top: 32px;
  margin: 0;
  text-align: center;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.2;
}

@media screen and (max-width: 1279px) {
  .lead__subtitle {
    max-width: calc(100% - 288px);
  }
}

@media screen and (max-width: 1023px) {
  .lead__subtitle {
    max-width: calc(100% - 128px);
  }
}

@media screen and (max-width:767px) {
  .lead__subtitle {
    font-size: 16px;
    line-height: 1.25;
  }
}
