.intro__title {
  max-width: 690px;
  margin: 0;
  font-size: 54px;
  line-height: 1.07;
  font-weight: 900;
}

@media screen and (max-width: 1023px) {
  .intro__title {
    padding-left: 18px;
  }
}

@media screen and (max-width: 767px) {
  .intro__title {
    font-size: 32px;
    line-height: 1.09;
    padding-left: 0;
  }
}
